* {
  color: aliceblue;
}

.App {
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgb(17, 18, 19) 50%,
    rgb(11, 4, 38) 100%
  );

  margin: auto;
  height: 753px;
}
