.profilephoto {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.leftContainer {
  background: linear-gradient(
    to bottom,
    rgb(5, 5, 27) 0%,
    rgb(15, 15, 30) 50%,
    rgb(25, 25, 50) 100%
  );
  border-radius: 30px;
  margin-left: 30px;
  width: "400px";
}

.languages {
  display: flex;
  width: auto;
  justify-content: center;
}
